/* Set default font family and color */
body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Center main content */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style header */
  header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  header h1 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  /* Style form */
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  /* Style sections */
  section {
    margin-bottom: 40px;
  }
  
  section h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  section ol {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  section ol li {
    margin-bottom: 10px;
  }
  
  /* Style buttons */
  .btn {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid black;
  }

  .btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
  }
  
  .btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    header h1 {
      font-size: 24px;
    }
  
    form input[type="submit"] {
      font-size: 14px;
    }
  
    section h3 {
      font-size: 20px;
    }
  }
  