<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Investment Track Record Generator</title>
      <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
      <header>
        <h1>Build your investment track record within minutes 🚀</h1>
      </header>
  
      <main>
        <form action="/generate-report-py" method="POST" class="form">
          <label for="url">Enter the URL of your Google Spreadsheet:</label>
          <input type="text" id="url" name="url" required />
      
          <label for="report_name">Report name:</label>
          <input type="text" id="report_name" name="report_name" required />
      
          <label for="note">Note:</label>
          <textarea id="note" name="note" rows="15" cols="50" required></textarea>
      
          <label for="benchmark">Select a benchmark to compare yourself to:</label>
          <select id="benchmark" name="benchmark">
            <option value="">No benchmark</option>
            <option value="SPY">S&P 500</option>
            <option value="QQQ">Nasdaq 100</option>
            <option value="CLR.SI">Singapore REITs</option>
            <option value="BRGPX">BlackRock 60/40 Target Allocation Fund</option>
          </select>
      
          <label for="email">Enter your email address to receive the report:</label>
          <input type="email" id="email" name="email" placeholder="example@domain.com" required />
      
          <input type="submit" value="Generate Report" class="btn btn-primary" />
        </form>
      </main>
      
  
      <div class="container">
        <h2>  <strong>Getting Started</strong> </h2>
        <section class="spreadsheet-template">
          <h2>1. Make Your Own Spreadsheet Template based on our template</h2>
          <p>You can use our spreadsheet template to get started quickly. Click the button below to create a copy of the template in your own Google Drive account.</p>
          <p>
            <a href="https://docs.google.com/spreadsheets/d/149KFQBIRXJ-RoUA8xAsiwpbTEQMHJD40WU6mHvynTEY/copy" class="btn btn-secondary">Create a Copy</a>
          </p>
        </section>
  
        <section class="share-spreadsheet">
          <h2>2. Share Your Spreadsheet with our app</h2>
          <p>Before using your spreadsheet here, you'll need to share it with our app so that we can read your data. To share your spreadsheet, please follow these steps:</p>
          <ol>
            <li>Open your spreadsheet in Google Sheets.</li>
            <li>Click the "Share" button in the top-right corner of the screen.</li>
            <li>In the "Invite people" section, enter the email address <code>trading-portfolio-app@trend-following-367612.iam.gserviceaccount.com</code>.</li>
            <li>Click the "Send" button.</li>
          </ol>
        </section>
      </div>
    </body>
  </html>
  
